body {
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 18px;
    .header {
        .header-inner {
            position: relative;
            #header_title {
                position: absolute;
                top: 45px;
                left: 45px;
                p {
                    font-size: 10px;
                    letter-spacing: 5px;
                }
            }
            #navbar {
                top: 180px;
                left: 40px;
                position: fixed;
                z-index: 100;
                li {
                    margin: 25px 0px;
                    letter-spacing: 2px;
                    a {
                        transition-duration: 0.3s;
                    }
                    a:hover {
                        color: $color-accent;
                        transition-duration: 0.3s;
                    }
                }
            }
            #header_image {
                margin-left: 100px;
                margin-bottom: 80px;
                padding-top: 70px;
                height: 600px;
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                    right: 0;
                }
            }
        }
    }
    main {
        #about_me {
            display: flex;
            padding: 100px 0px;
            #profile_text {
                margin: 60px auto;
                width: 50%;
                div {
                    padding: 0px 40px;
                    #name {
                        font-size: 25px;
                        margin-bottom: 25px;
                    }
                    p {
                        margin-bottom: 10px;
                    }
                }
            }
            #profile_img {
                margin-left: 150px;
                img {
                    object-fit: cover;
                    object-position: 20% 100%;
                    height: 500px;
                    width: 280px;
                }
            }
        }
        #skills {
            display: flex;
            justify-content: center;
            padding: 120px 0px;
            h2 {
                text-align: center;
            }
            table {
                text-align: left;
                table-layout: fixed;
                width: 750px;
                tr {
                    height: 70px;
                    th {
                        width: 180px;
                    }
                    td {
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                        word-break: keep-all;
                    }
                }
            }
        }
        #work {
            display: flex;
            justify-content: center;
            padding: 100px 0px;
        }
    }
    .footer {
        height: 100px;
        text-align: center;
        background-color: #303956;
        color: $color-white;
    }
}

h1 {
    font-size: 60px;
    font-family: 'Homemade Apple', cursive;
}
h2 {
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Homemade Apple', cursive;
    padding: 0px 20px;
}
a {
    color: $color-black;
    text-decoration: none;
}
